<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://img.freepik.com/free-vector/gradient-sale-landing-page-template-with-photo_23-2149037822.jpg?t=st=1730209879~exp=1730213479~hmac=911850855c57945c21182b58c73eef899fbcff4999f0bba900b66f2ac64269ee&w=900"
                class="d-block w-100" alt="..." height="500px">
        </div>
        <div class="carousel-item">
            <img src="https://img.freepik.com/free-vector/commercial-label-with-big-sale-lettering-shopping-bag-banner_24877-56432.jpg?t=st=1730209883~exp=1730213483~hmac=05fb2565f2d2524d16a876bba26113fb4fabafb3003f6d2cf6c59aad0942d2bd&w=740" class="d-block w-100"
                alt="..." height="500px">
        </div>
        <div class="carousel-item">
            <img src="https://img.freepik.com/free-vector/colorful-big-sale-composition-with-flat-design_23-2147964988.jpg?t=st=1730209888~exp=1730213488~hmac=492bd2f9be05f18e61cdca9ac3a2b2fc18017a7d70c195ec6f6f5525e89b12a4&w=740"
                class="d-block w-100" alt="..." height="500px">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <div class="col mb-5" *ngFor="let product of allProducts">
                <div class="card h-100 p-3">
                    <!-- Product image-->
                    <img class="card-img-top" [src]="product.image" alt="..." height="250px"
                        routerLink="view-product/{{product.id}}" />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">{{product.title.slice(0,20)}}..</h5>
                            <!-- Product price-->
                            {{product.price}}
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="d-flex justify-content-between">
                        <a class="btn btn-outline-danger" (click)="addToWishList(product)"><i class="fa-solid fa-heart"></i></a>
                        <a class="btn btn-outline-success" (click)="addToCart(product)"><i class="fa-solid fa-cart-shopping"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<ngx-spinner type="ball-scale-multiple"></ngx-spinner>